body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.dl-horizontal dt {
    white-space: normal;
}
input,
select,
textarea {
    width: 100%;
    height: 40px;
}
footer {
display: block;
clear: both;
padding-top: 100px;    
}
#formularioInscricao .btn-primary {
    margin-top: 10%;
    width: 100%;
}
#formularioInscricao #atividadesSelecionadas input[type="checkbox"] {
    width: 20px;    
}
#formularioInscricao #atividadesSelecionadas .checkbox span {
    margin-top: 13px;
    display: inline-block;
    margin-left: 2px;
}